:root {
    --brand-blue: #0061FF;
    --secondary-color: #B4D0E7;
    --light-grey: #DBDBDD;
    --dark-red: #61082B;
}

html {
    font-family: sans-serif, helvetica, arial;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    display: block;
}

/* LAYOUT */
.container {
    max-width: 1240px;
    margin: 0 auto;
}

.container-100 {
    width: 100%;
}

.container-sm {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row > * {
    padding: 0 25px;
}

.col-100 {
    width: 100%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-50 {
    width: 50%;
}

.col-66 {
    width: calc( (100% / 3) * 2);
}

section {
    padding: 86px 0;
}

/* HEADER */
.page-header {
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 32px 18px;
}

.header-menu {
    display: flex;
    gap: 28px;
    align-items: center;
}

.header-logo > img {
    display: block;
}

/* HERO */
.hero {
    padding-top: 178px;
    padding-bottom: 18px;
    background-color: var(--secondary-color);
}

.hero .hero-heading {
    font-size: 78px;
    padding-bottom: 54px;
}

.hero .hero-side {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 24px;
    height: 100%;
}

.hero .hero-arrow {
    margin-top: auto;
    font-size: 44px;
}

/* BUSINESS PLAN */
.business-plan h2 {
    font-size: 40px;
}

.business-plan .business-radio {
    margin: 34px 0;
}

.business-plan label {
    margin-right: 44px;
}

.business-cards--container {
    row-gap: 38px;
}

.business-card {
    border: 1px solid var(--light-grey);
    height: 100%;
}

.business-card--heading {
    padding: 8px 0;
    text-align: center;
    border-bottom: 1px solid var(--light-grey);
}

.business-card--heading > span {
    margin-right: 4px;
}

.business-card--content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 34px 28px;
    gap: 44px;
}

.business-card--price {
    font-weight: bold;
}

.business-card--price > p.unbold {
    margin-top: 48px;
}

.business-card--price > h3 {
    margin-bottom: 12px;
}

.business-card--price > .euro-symbol:before {
    content: "\20AC";
    margin-right: 4px;
}

.business-card--price > .price-tail:after {
    display: block;
    content: "/mese";
    margin-top: 12px;
    font-size: 14px;
    font-weight: normal;
}

.business-card--price > .price-tail-empty:after {
    display: block;
    content: "-";
    margin-top: 12px;
    font-size: 14px;
    font-weight: normal;
}

.business-card--list > :not(:last-child) {
    margin-bottom: 16px;
}

.business-card--cta {
    width: 100%;
}

.business-card--cta > * {
    display: block;
}

.business-card--cta > .btn {
    width: 100%;
}

.business-card--cta > :not(:last-child) {
    margin-bottom: 34px;
}

.border {
    display: block;
    height: 1px;
    width: 30%;
    background-color: var(--light-grey);
}

.business-card--list span{
    color: var(--brand-blue);
    margin-right: 4px;
}

.business-card--list.clr-black span {
    color: black;
}

/* CONTACT */
.contact-info {
    padding: 54px 0;
}

.contact-info h2 {
    margin-bottom: 14px;
}

.contact-info p {
    margin-bottom: 32px;
}

/* FEATURES */
.section-heading {
    font-size: 40px;
    margin: 27px 0;
}

.feature-card h3 {
    margin-bottom: 32px;
}

.features .row {
    row-gap: 32px;
}

/* CLIENTS */
.clients .section-heading {
    margin: 58px 0;
    max-width: 50%;
}

/* DESIGNIT */
section.designit * {
    padding: 0;
}

/* ENTERPRISE */
.enterprise {
    background-color: var(--secondary-color);
}

.enterprise .section-heading {
    color: var(--dark-red);
    margin: 0;
    max-width: 70%;
}

.enterprise .btn {
    padding: 0 48px;
}

/* FAQ QUESTIONS */
.faq .section-heading {
    margin-bottom: 66px;
}

.faq .faq-question {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    padding: 48px 0;
}

.faq .faq-question > span {
    padding-right: 42px;
}

.faq > :last-child {
    border-bottom: 1px solid;
}

/* FOOTER */
.page-footer {}

.page-footer .row {
    justify-content: space-between;
}



/* BUTTONS */
.btn {
    display: inline-block;
    text-align: center;
    padding: 0 16px;
    line-height: 34px;
    color: white;
    background-color: var(--brand-blue);
}

.btn-sm {
    padding: 0 12px;
    line-height: 30px;
}

.btn.bg-white {
    color: black;
    background-color: white;
}

.btn.black-grey--border {
    border: 1px solid;
    border-color: var(--light-grey) var(--light-grey) black black;
}

/* UTILITY */
.no-border {
    border: 0;
}

.default-anchor {
    color: blue;
    text-decoration: underline;
}

.bg-white {
    background-color: white;
}

.unbold {
    font-weight: normal;
}

.width-reset {
    width: initial;
}

.flex-row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.row.no-gutter > * {
    padding: 0;
}

/* DEBUG */
.debug [class^="container"] {
    border: 1px solid;
}

.debug .row {
    border: 1px solid hotpink;
}

.debug [class^="col"] {
    border :1px dashed cornflowerblue
}

.debug.faq li {
    border: 1px solid hotpink
}