:root {
    --brand-blue: #0061FF;
    --secondary-color: #B4D0E7;
}

html {
    font-family: sans-serif, helvetica, arial;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
}

.container-100 {
    width: 100%;
}

.container-sm {
    max-width: 1000px;
}

.row {
    display: flex;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
}

header .container-100 {
    padding: 32px 18px;
}

.header-menu {
    display: flex;
    gap: 12px;
    align-items: center;
}

.header-logo > img {
    display: block;
}

/* BUTTONS */
.btn {
    padding: 14px 16px;
}

.btn-sm {
    padding: 8px 12px;
}

/* UTILITY */
.bg-color-brand {
    color: white;
    background-color: var(--brand-blue);
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

/* DEBUG */
.debug [class^="container"] {
    border: 1px solid;
}

.debug .row {
    border: 1px solid hotpink;
}

.debug [class^="col"] {
    border :1px dashed cornflowerblue
}